body {
    background-color: darkgray;
}

#canvas {
    background-color: white;
    display: block;
    margin: 0 auto;
}

.btn-wrapper {
    padding-top: 30px;
    display: block;
    text-align: center;
}