body {
    background-color: darkgray;
}

#canvas {
    background-color: white;
    display: block;
    margin: 0 auto;
}

#threshold {
    display: block;
    margin: 30px auto;
    width: 90%;
}

.btn-wrapper {
    display: block;
    text-align: center;
}